<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Moviebook</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="/css/styleLogin.css">
  
</head>
<body>
  <nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <p class="navbar-brand" style="color:white">Moviebook</p>
      <div class="navbar-collapse collapse">
      
    
      </div>
    </div>
  </nav>

  <div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
  <p>Don't want to login? Go to <a href="/movieapp">Moviebook</a> </p>

    <hr/>
    <div class="divStyleCenter">
      <footer>

        <p>
          <b>Copyright &copy; Rajat Malhotra. All rights reserved.</b>
        </p>

      </footer>
    </div>

</div>

</div>
</body>
</html>
