.circle
{
    width: 0px;
    height: 0px;
    border-right: 60px solid red;
    border-top: 60px solid red;
    border-left: 60px solid red;
    border-bottom: 60px solid red;
    border-radius: 60px;

}

.circle:hover
{
    border-right: 90px solid red;
    border-top: 90px solid red;
    border-left: 90px solid red;
    border-bottom: 90px solid red;
    border-radius: 90px;
}

.parallelogram{
     margin-top:30px;
     width:100px; 
     height:100px; 
     border:1px solid #000; 
     background:green;
     transform: skew(20deg); 
     -webkit-transform: skew(20deg);
}

.parallelogram:hover{
     background:black;
}

.ribbon{
     width:0; 
     margin-top:30px;
     height:100px; 
     border-right:50px solid blue;
     border-left:50px solid blue;
     border-bottom:30px solid transparent;
}

.ribbon:hover{
     transform: rotate(25deg);
}

.centerAlign{
    text-align: center;
}

.centerAlignDiv{
    margin: 0 auto;
    width: 100px; 
}
.code
{
    font-family: "Consolas","Lucida Console","Courier New","Andale Mono",monospace;
    color: #00F;
    font-weight: bold;
}
.contentFont
{
    font-size:larger;
}
